= render 'shared/errors', resource: @answer

= render question
- if current_user == question.author
  = button_to 'Delete question', question_path(question), method: :delete

p = link_to 'Back', questions_path
p = render 'answers/form', answer: @answer, question: question

h3 Answers
= render question.answers
